# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SurfaceInteraction.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Work\Projects\SurfaceInteraction\.idea\.idea.SurfaceInteraction\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
